
*.csv
*.pyc
*.png
*.txt
Cluster Meteorology/basin_dataset_public_v1p2/basin_mean_forcing/daymet/02/011230_
Cluster Meteorology/basin_dataset_public_v1p2/basin_mean_forcing/daymet/03/208111310_forcing.tx
Cluster Meteorology/basin_dataset_public_v1p2/basin_mean_forcing/daymet/06/344894205_forcing.tx
